<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="../vendor/autoload.php"
         colors="true"
         verbose="true">
    
    <testsuites>
        <testsuite name="Q1 - Unit Tests">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Q2 - Integration Tests">
            <directory>Integration</directory>
        </testsuite>
    </testsuites>
    
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../src</directory>
        </include>
        <exclude>
            <directory>../vendor</directory>
        </exclude>
    </coverage>
    
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>