services:
  omekas:
    image: erseco/alpine-omeka-s:develop
    restart: unless-stopped
    depends_on:
      mariadb:
        condition: service_healthy  # Esperar a que MariaDB esté lista
    ports:
      - "8080:8080"
    environment:
      # Database
      DB_HOST: mariadb
      DB_NAME: omeka
      DB_USER: omeka
      DB_PASSWORD: omeka
      DB_PORT: 3306

      # Admin + site
      OMEKA_ADMIN_EMAIL: admin@example.com
      OMEKA_ADMIN_NAME: "Site Administrator"
      OMEKA_ADMIN_PASSWORD: PLEASE_CHANGEME
      OMEKA_SITE_TITLE: "Omeka S Sample Site"
      OMEKA_CSV_IMPORT_FILE: /data/sample_data.csv
      APPLICATION_ENV: development
      SITE_URL: http://localhost:8080

      # Minimal themes/modules
      OMEKA_THEMES: "default"
      OMEKA_MODULES: |
        Common
        EasyAdmin
        Adminer
        Log

      # Hooks - cambiar ModuleTemplate por SiteSearch
      PRE_CONFIGURE_COMMANDS: |
        echo 'Pre-configure hook'
      POST_CONFIGURE_COMMANDS: |
        omeka-s-cli user:add "editor@example.com" "Editor" editor "1234" || true
        omeka-s-cli module:install SiteSearch || true

    volumes:
      - omekas_data:/var/www/html/volume:Z
      - ./:/var/www/html/volume/modules/SiteSearch  # Cambio aquí
      - ./data:/data:ro
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/admin"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  mariadb:
    image: mariadb:latest
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: omeka
      MYSQL_DATABASE: omeka
      MYSQL_USER: omeka
      MYSQL_PASSWORD: omeka
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

volumes:
  mariadb_data:
  omekas_data: